apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
namespace: default
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/component: web
      app.kubernetes.io/name: blazor-auth-sample
      app.kubernetes.io/version: "0.1"
